<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676971482036-ji22gg27rugr1nvunjedj5ecbtsnkvo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676971482036-ji22gg27rugr1nvunjedj5ecbtsnkvo4</string>
	<key>API_KEY</key>
	<string>AIzaSyATlT2ZRdzKTIEjFBRv-RTaes4JKFz06oo</string>
	<key>GCM_SENDER_ID</key>
	<string>676971482036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kernowsoftware.myteam</string>
	<key>PROJECT_ID</key>
	<string>oncall-54894</string>
	<key>STORAGE_BUCKET</key>
	<string>oncall-54894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676971482036:ios:73c32a89d5d148acde00e1</string>
</dict>
</plist>